{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}start a new topic{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item">
	<a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
</li>
<li class="breadcrumb-item">New topic</li>
{% endblock %}
{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	{% include 'includes/form.html' %}
	<button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}
